.card {
  background-color: #fafafa;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.category {
  &__header {
    border-radius: 0.75rem;
    padding: 0;
    position: relative;
    z-index: 2;
    margin-top: -1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  &__card {
    border-radius: 0.5rem;
    background-image: linear-gradient(195deg, #ec407a 0%, #d81b60 100%);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(233, 30, 99, 0.4);
    padding-bottom: 1rem;
    padding-top: 1.5rem;

    &--content {
      color: #fff;
      text-transform: capitalize;
      padding-left: 1rem;
      font-weight: 700;
      font-size: 1rem;
    }
  }
  &__title {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 700;
  }
  &__status {
    text-align: center;
  }
  &__timestamp {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.25;
    margin-bottom: 0;
    color: #7b809a;
  }
}


