.header-admin {
  display: flex;
  background: #eff1f4;
  padding: 0;
  &__logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    color: #e91e63;
    font-size: 24px;
    font-weight: 800;
    background-color: #001529;
    &--collapsed {
      width: 80px;
      transition: all 0.2s;
    }
  }
  &__nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid #ddd;
    &-left {
      display: flex;
      align-items: center;
      font-size: 20px;
    }
  }
  &__collapse {
    margin-right: 20px;
    cursor: pointer;
  }
  &__account {
    display: flex;
    justify-content: space-between;
  }
}

.content {
  padding: 20px;
  background: #eff1f4;
  min-height: 86vh;
}
.footer {
  background: #eff1f4;
  padding: 0 20px;
  &__content {
    color: #7b809a;
    font-weight: 500;
    font-size: 16px;
  }
  &__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  li a {
    color: #7b809a;
    font-weight: 500;
    font-size: 16px;
  }
}


