<button class="btn-add" (click)="showModal()">Add new user</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Create User" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzCancelText]="'Cancel'" [nzOkText]="'Create'">
  <ng-container *nzModalContent>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="createForm">
        <nz-form-item>
          <nz-form-label nzRequired>FullName</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="fullName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Email</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Password</nz-form-label>
          <nz-form-control>
            <input type="password" nz-input formControlName="password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Role</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="role_id">
              <label *ngFor="let item of roles" nz-radio nzValue={{item.id}}>{{item.title}}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Status</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="status">
              <label nz-radio nzValue="active">Hoạt động</label>
              <label nz-radio nzValue="inactive">Không hoạt động</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Avatar</nz-form-label>
          <nz-form-control>
            <input type="file" accept="image/*" (change)="onUploadFile($event)">
            <img [src]="srcImagePreview" class="image-preview">
          </nz-form-control>
        </nz-form-item>
      </form>
  </ng-container>
</nz-modal>