<div style="display: flex; align-items: center; justify-content: space-between; padding-bottom: 1rem;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Posts</nz-breadcrumb-item>
  </nz-breadcrumb>
  <a class="btn-add" routerLink="/admin/create-post">Add new posts</a>
</div>
<div class="card">
  <div class="post__header">
    <div class="post__card">
      <h6 class="post__card--content">Post table</h6>
    </div>
  </div>
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>THUMBNAIL</th>
        <th>TITLE POSTS</th>
        <th [nzAlign]="'center'">STATUS</th>
        <th [nzAlign]="'center'">CREATED AT</th>
        <th [nzAlign]="'center'">UPDATED AT</th>
        <th [nzAlign]="'center'">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <img nz-image height="80rem" [nzSrc]="data.thumbnail" alt="" />
        </td>
        <td>
          <h6 class="post__title">{{data.title}}</h6>
        </td>
        <td [nzAlign]="'center'">
          <nz-tag [nzColor]="data.status === 'active' ? 'green' : 'red'">{{data.status}}</nz-tag>
        </td>
        <td [nzAlign]="'center'">
          <span class="post__timestamp">{{data.createdAt}}</span>
        </td>
        <td [nzAlign]="'center'">
          <span class="post__timestamp">{{data.updatedAt}}</span>
        </td>
        <td [nzAlign]="'center'">
          <a nz-button nz-tooltip nzTooltipTitle="View Detail" [nzTooltipColor]="'#e91e63'">
            <span nz-icon nzType="eye" nzTheme="outline"></span>
          </a>
          <a nz-button nzType="primary" nzGhost nz-tooltip nzTooltipTitle="Edit" [nzTooltipColor]="'#e91e63'" routerLink="/admin/edit-post/{{data.id}}">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </a>
          <app-delete-post [data]="data" (onReload)="handleReload($event)"></app-delete-post>
        </td>
      </tr>
    </tbody>
  </nz-table>

</div>
