<ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="collapsed">
  <li nz-menu-item>
    <span nz-icon nzType="dashboard" nzTheme="outline"></span> <span>Dashboard</span>
  </li>
  <li nz-menu-item>
    <a routerLink="user-manage">
      <span nz-icon nzType="team" nzTheme="outline"></span> <span>Users</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="category-manage">
      <span nz-icon nzType="gold" nzTheme="outline"></span> <span>Categories</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="language-manage">
      <span nz-icon nzType="global" nzTheme="outline"></span> <span>Languages</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="post-manage">
      <span nz-icon nzType="file-protect" nzTheme="outline"></span> <span>Posts</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="role-manage">
      <span nz-icon nzType="safety" nzTheme="outline"></span> <span>Roles</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="permission">
      <span nz-icon nzType="key" nzTheme="outline"></span> <span>Permissions</span>
    </a>
  </li>
</ul>
